.App {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: '1s';
}

.container {
  padding: 10px 53px;
  width: 100%;
  text-align: center;
  height: 100vh;
}

.done h2 {
  margin-top: 150px;
  font-size: 30px;
}

form {
  padding: 30px 20px;
}

form input {
  outline: none;
  height: 26px;
  margin-bottom: 5px;
}

form label {
  font-weight: 700;
}

form textarea {
  outline: none;
}

form select {
  width: 100%;
}

/* form button {
  margin-top: 20px;
  margin-bottom: 5px;
} */

form .resume-container {
  display: flex;
}

.sign-in, .welcome-view {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.env p {
  font-size: 14px;
}

button {
  width: 100%;
}

.sign-out {
  margin-top: 75px;
}

.btn-primary {
  background-color: #3D68D6;
}

.btn-primary:hover {
  background-color: #608bf8;
}

.btn-greyed {
  background-color: #8890A3;
}

.btn-greyed:hover {
  background-color: #a6aab3;
}

/* button:disabled {
  pointer-events: none;
  opacity: .3;
} */

.btn-back {
  display: block;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
}

.btn-back i {
  color: #608bf8;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3D68D6;
  border-color: #3D68D6 transparent #3D68D6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3D68D6;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #3D68D6;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.resume-container .loader {
  border-width: 1px;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  transform: unset;
  top: unset;
  left: unset;
}
.error {
  color: red;
}

.myVacancies-container {
  display: flex;
}
.filter-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.filter-row .error {
  flex-basis: 100%;
}
.filter-row div:first-child {
  flex: 1;
  margin-right: 10px;
}
.filter-btn {
  cursor: pointer;
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}
.list p {
  margin: 0;
}
.list p input {
  height: auto;
}
.close {
  cursor: pointer;
  color: red;
  font-size: 16px;
}
.file-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.ant-space-vertical {
  width: 100%;
}
.spaceOverride {
  gap: 5px !important;
}

.filter-dropdown {
  max-height: 0;
  transition: all .3s ease-out;
  overflow: hidden;
}

.filter-dropdown.open {
  max-height: 500px;
  transition: all .3s ease-in;
  margin-top: 20px;
}
.close-frame {
  position: fixed;
  color: #000;
  z-index: 99999;
  right: 30px;
  top: 0;
  font-size: 20px;
  cursor: pointer;
}
.close-frame:hover {
  color: #1677ff;
}